{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
    <h1>About Us</h1>
    <p>
        Welcome to our platform! We are dedicated to providing you with the best experience
        in tracking product prices and making informed purchasing decisions.
    </p>
    <p>
        Our mission is to simplify your shopping experience by keeping you updated
        with real-time price fluctuations and notifications for your favorite products.
    </p>
    <p>
        Thank you for choosing us as your trusted companion for smarter shopping.
    </p>
    </div>
</div>
{% endblock %}
